
body {
 padding: 2em 1em 2em 70px;
 margin: 0;
 font-family: sans-serif;
 color: #000000;
 background: white;
 background-position: top left;
 background-attachment: fixed;
 background-repeat: no-repeat;
 font-size: medium;
 line-height: 110%;
}

:link {
 color: #00C;
 background: transparent;
}
:visited { color: #609; background: transparent }
a:active { color: #C00; background: transparent }

dfn { font-style: italic; font-weight: bold }

a:visited img { border-style: none } 
a:link img { border-style: none } /* no border on img links */
a img { color: white; }    /* trick to hide the border in Netscape 4 */
@media all {          /* hide the next rule from Netscape 4 */
 a img { color: inherit; }  /* undo the color change above */
}



td { /* ns 4 */
 font-family: sans-serif;
}

th { /* ns 4 */
 font-family: sans-serif;
}

h6 { text-align: left }

h5 { text-align: left }

h4 { text-align: left }

h3 { text-align: left }

h2 { text-align: left }

h1 { text-align: left }
/* background should be transparent, but WebTV has a bug */
h4 { color: #005A9C; background: white }
h3 { color: #005A9C; background: white }
h2 { color: #005A9C; background: white }
h1 { color: #005A9C; background: white }
h1 { font: 170% sans-serif }
h2 { font: 140% sans-serif }
h3 { font: 120% sans-serif }
h4 { font: italic 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }

.hide { display: none }

div.head {
 margin-bottom: 1em;
 margin: 0 0 0 0;
}
div.head h1 {
 margin-top: 1em;
 clear: both;
}
div.head table {
 margin-left: 2em;
 margin-top: 2em
}

p.copyright { font-size: small }
p.copyright small { font-size: small }

@media screen { /* hide from IE3 */
a[href]:hover { background: #ffa }
}


div.diagramWrapper {
	border: 1px solid #a0a0a0;
}

div.diagram {
	align: center;
	text-align: center;	
}

span.caption {
	font-style: italic;
}

code {
	font-family: courier, monospace;
	font-size: 90%;
}

dd { margin-top: 0; margin-bottom: 0 } 
dt { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
dt { font-weight: bold }

pre { 
	font-family: monospace ; 
	border: 1px dashed #2020FF ;
	background: #f0f0f0; 
	padding: 2px ; 
	margin-left: 20px;
	margin-right: 20px;
} /* navigator 4 requires this */


/* Autogenerate ToC list counters */
div.toc LI { display: block }
div.toc LI:before { content: counters(item, ".") ". "; counter-increment: item }
div.toc #ToC_Appendix LI:before { content: counter(item, upper-latin) ". "; counter-increment: item }
div.toc ol li {
	margin: 2px;
	padding: 0px;
}
div.toc ol ol li {
	margin: 2px;
	padding: 0px;
}
ul li {
	margin: 2px;
	padding: 0px;	
}

div.editorsnote { border: 1px dotted black; color: red; padding: 5px; margin-left: 20px; margin-right: 20px; }
div.editorsnote:before {content: "Editor's Note: " }

/* And then include in body */





/* other stuff */

@media aural { 
 h3 { stress: 20; richness: 90 }
 h2 { stress: 20; richness: 90 }
 h1 { stress: 20; richness: 90 }
 .hide { speak: none }
 p.copyright { volume: x-soft; speech-rate: x-fast }
 dt { pause-before: 20% }
 pre { speak-punctuation: code } 
}


table.layout {
 empty-cells: show;
 border-collapse: collapse;
 margin-left: 5px;
}
table.layout td {
 border: none;
}

.exhead {
	font-weight: bold;	
}

.exsubhead {
	font-weight: bold;
	color: #005A9C;
	padding-left: 1em;
}

.title {
 font-size: x-large;
 font-weight: 500;
 margin-bottom: 0ex;
}
.subTitle {
 font-size: medium;
 font-weight: 300;
 margin-top: 0.2ex;
}

.model { border: 0px solid black ; }

.example {border: 1px dashed black ; }


dl.EditorsContributors dd dt {
 font-weight: 600;
 font-style: italic;
}

li, p {
 margin-top: 0.3em;
 margin-bottom: 0.8em;
}


.extable td {
	border: 1px dashed black;
	font-size: small;
	}

/* Default table layout */
table {
 empty-cells: show;
 border-collapse: collapse;
 margin-bottom: .5ex;
 margin-left: auto;
 margin-right: auto;
}

table caption {
 font-weight: normal;
 font-style: italic;
 text-align: left;
 margin-top: 1.5ex;
 margin-bottom: .5ex;
}


table th {
 padding: 3px;
 border: 1px solid #404040;
 text-align: center;
 font-weight: bold;
}
table td {
 padding: 5px;
 border: 1px solid #404040;
 text-align: left;
}

.rfc2119 {
 font-variant: small-caps;
}


/* We have a namespace table in many docs so define standard style. To
   use this just put <table class="namespace-table"...> then use
   <th> and <td> as normal */
table.namespace-table {
 margin-left: auto;
 margin-right: auto;
 empty-cells: show;
 border-collapse: collapse;
}
table.namespace-table th {
 padding: 3px;
 border: 2px solid #404040;
 text-align: center;
 font-weight: bold;
 font-style: italic;
}
table.namespace-table td {
 padding: 2px;
 border: 2px solid #404040;
 text-align: left;
}
table#namespace-table caption {
 font-weight: normal;
 font-style: italic;
 text-align: left;
 margin-bottom: .5ex;
}


/* div for license information at foot of documents */
div#license {
 margin-top: 4ex;
}


/* Styling foc change log tables at end of each document */
table.changelog {
 empty-cells: show;
 border-collapse: collapse;
}
table.changelog th {
 padding: 5px;
 border: 2px solid #000000;
 text-align: center;
 font-weight: bold;
}
table.changelog td {
 padding: 5px;
 border: 2px solid #000000;
 text-align: left;
}
